<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <style media="screen">
    * {
margin: 0;
padding: 0;
}

nav {
margin: 50px;
}

ul {
overflow: auto;
list-style-type: none;
}

li {
height: 25px;
float: left;
margin-right: 0px;
border-right: 1px solid #aaa;
padding: 0 20px;
}

li:last-child {
border-right: none;
}

li a {
text-decoration: none;
color: #ccc;
font: 25px/1 Helvetica, Verdana, sans-serif;
text-transform: uppercase;

-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
transition: all 0.5s ease;
}

li a:hover {
color: #666;
}

li.active a {
font-weight: bold;
color: #333;
}
    </style>
  </head>
  <body>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li class="active"><a href="/user/index1">Users</a></li>
    <li><a href="/user/new">Register</a></li>
    <li><a href="#">Profile</a></li>
    <li><a href="#">Edit</a></li>
  </ul>
</nav>
    <div class="container">
      <h3>Users</h3>
      <table class='table'>
        <tr>
          <th>
            ID
          </th>
          <th>
            Name
          </th>
          <th>
            Email
          </th>


          <% users,  _.each(users, function(users){ %>
            <tr data-id='<%= users.id %>' data-model='user'>
              <td>
                <%= users.id %>
              </td>
              <td>
                <%= users.name %>
              </td>
              <td>
                <%= users.email %>
              </td>
              <td><a class='btn btn-success' href="/user/show/ <%= users.id %>">Show</a></td>
              <td><a class='btn btn-info' href="/user/edit/ <%= users.id %>">Edit</a></td>
              <td><a class='btn btn-danger' href="/user/destroy/ <%= users.id %>">Delete</a></td>

            </tr>
            <%  }) %>

      </table>
    </div>
  </body>
</html>
