<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Signed In!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <style media="screen">
      .jumbotron{
        text-align: center;
      }
      * {
  margin: 0;
  padding: 0;
}

nav {
  margin: 50px;
}

ul {
  overflow: auto;
  list-style-type: none;
}

li {
  height: 25px;
  float: left;
  margin-right: 0px;
  border-right: 1px solid #aaa;
  padding: 0 20px;
}

li:last-child {
  border-right: none;
}

li a {
  text-decoration: none;
  color: #ccc;
  font: 25px/1 Helvetica, Verdana, sans-serif;
  text-transform: uppercase;

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

li a:hover {
  color: #666;
}

li.active a {
  font-weight: bold;
  color: #333;
}
    </style>
  </head>
  <body>
    <nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/user/index1">Users</a></li>
    <li><a href="/user/new">Register</a></li>
    <li class="active"><a >Profile</a></li>
    <li><a href="#">Edit</a></li>
  </ul>
</nav>
    <div class="container jumbotron">
        <h2>Viewing Profile: <%= user.name %></h1><br>
          <p>Name: <%= user.name %></p>
        <p>Email: <%= user.email %></p>
        <p>Password: <input id='pw' type="password" name="name" value="<%= user.password %>"> <input id='sho' onclick='show()' type="button" class='btn btn-danger' name="name" value="Show"></p>
        <hr>
        <a class='btn btn-info' href="/user/edit/<%= user.id %>">Edit</a>
    </div>
    <script type="text/javascript">
    var z = 1;
    function show(){
      if (z == 1) {
      document.getElementById('pw').type = "text";
      document.getElementById('sho').value = "Hide";
      document.getElementById('sho').className = "btn btn-success";
      z = 2;
      }
      else if(z == 2){
        document.getElementById('pw').type = "password";
        document.getElementById('sho').value = "Show";
        document.getElementById('sho').className = "btn btn-danger";
        z = 1
      }
    }
    </script>
  </body>
</html>
