<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <style media="screen">
    * {
margin: 0;
padding: 0;
}

nav {
margin: 50px;
}

ul {
overflow: auto;
list-style-type: none;
}

li {
height: 25px;
float: left;
margin-right: 0px;
border-right: 1px solid #aaa;
padding: 0 20px;
}

li:last-child {
border-right: none;
}

li a {
text-decoration: none;
color: #ccc;
font: 25px/1 Helvetica, Verdana, sans-serif;
text-transform: uppercase;

-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
transition: all 0.5s ease;
}

li a:hover {
color: #666;
}

li.active a {
font-weight: bold;
color: #333;
}

    </style>
  </head>
  <body>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript">
    var loadInfo = function (videoId) {
  var gdata = document.createElement("script");
  gdata.src = "http://gdata.youtube.com/feeds/api/videos/" + videoId + "?v=2&alt=jsonc&callback=storeInfo";
  var body = document.getElementsByTagName("body")[0];
  body.appendChild(gdata);
};

var storeInfo = function (info) {
  console.log(info.data.title);
  
  document.getElementById('videoName').innerHTML = info.data.title
};
loadInfo('<%= room.media %>');
    </script>
    <nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li class="active"><a href="/room/index1">room</a></li>
    <li><a href="/room/new">Register</a></li>
    <li><a href="/room/login">sign-in</a></li>

    <li><a href="#">Profile</a></li>
    <li><a href="#">Edit</a></li>
  </ul>
</nav>
<div ng-app='myApp' class="">
  <center> <h1><%= room.title %></h1><a href="/room/like/<%= room.id %>"><span class='glyphicon glyphicon-thumbs-up'></span></a><p id='likes'><%= room.likes %></p>

                 <a href="/room/dislike/<%= room.id %>"><span class='glyphicon glyphicon-thumbs-down'></span></a><p id='dislikes'><%= room.dislikes %></p></center>
    <div style='text-align:center' class="jumbotron">
      <p> <p id='videoName'></p>Currently Playing</p>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= room.media %>?autoplay=1&showinfo=0&controls=0" frameborder="0" allowfullscreen autoplay></iframe>
    </div>
    <input type="text" name="media" ng-model='media' class='form form-control'  placeholer='Song Suggetion' value="">
  </div>

  </body>
</html>
